.video {
    height: auto;
    width: 150px;
    padding: 0;
    margin-bottom: 5px;
    border: 2px solid #44c767;
    border-radius: 10px;
}

.color {
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
    padding: 0;
    background: white;
    border-radius: 10px;
    border: 1px solid transparent;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;
    border: 2px solid #44c767;
    border-radius: 10px;
    padding: 10px;
}

.button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color:#44c767;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    border-radius:24px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:17px;
    padding:10px 20px;
    text-decoration:none;
}

button:hover {
    background-color:#5cbf2a;
}
button:active {
    position:relative;
}

select {
    margin-bottom: 5px;
}

